!.gitignore
!.gitattributes
!.travis.yml
!.pep8speaks.yml
*.pyc
*.log
/allocator/kahip/
venv
.venv
docs/build
dist
*.egg-info
build
.DS_Store
uv.lock
coverage.xml
.coverage
sort-by-distance-output.csv
