pip>=21.0.0
wheel
pandas
matplotlib>=3.5.0
utm>=0.7.0
networkx>=2.6.0
-e git+https://github.com/suriyan/Christofides.git#egg=Christofides
scipy
googlemaps
polyline
haversine
folium
sphinx
sphinx_rtd_theme
scikit-learn
numpy
setuptools>=65.5.1
